
@{
    ViewBag.Title = "PageNotfound";
    Layout = "~/Views/Shared/_shopLayout.cshtml";
}

<style>
    .main {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="main">
    <h1>
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> The pape your are looking is not avaiable !
    </h1>
</div>

