
@{
    ViewBag.Title = "PageNotfound";
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <style>
        .main {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <div class="main">
            <h1>
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> The pape your are looking is not avaiable !  <a href="/">Home</a>
            </h1>
    </div>
</body>
</html>

