
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_shopLayout.cshtml";
}

<section class="about_section layout_padding">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 col-lg-5 ">
                <div class="img-box">
                    <img src="~/Content/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-7">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About Us
                        </h2>
                    </div>
                    <p>
                        We’re a leading technology company, founded in 1937, and we’re dedicated to helping people reimagine and push the boundaries of what is possible through imaging.
                    </p>
                    <p>
                        Our continuous innovation has kept us at the forefront of imaging excellence throughout our 80-year history which has enabled us to develop industry-leading technology supporting future demands of photographers, videographers, office workers, professional printers, medical imaging experts and more.
                    </p>
                    <p>
                        We utilise our imaging technologies to go beyond the rich lineup of our existing products to cultivating new areas of business where our imaging technology can push the boundaries of what is possible. This reaches into satellite development, medical advancements, growing the possibilities of print and industrial equipment and network video cameras, which contribute towards building smart cities. Canon’s core strength in optical and imaging technology is also contributing to advances in astronomy.
                    </p>
                    <p>
                        By constantly tackling new challenges, we firmly believe that we can uphold our corporate philosophy of “Kyosei” which conveys our dedication to seeing all people, regardless of race, religion or culture, harmoniously living and working together for the common good and to contribute to a prosperous society.
                    </p>
                    <p>
                        Read our Canon Story to find out more about the company and The Canon Frontier booklet for our Technology and R&D advancements. For more information on the history of Canon, please visit our global site.

                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

